[calibration]
passby = true
accel_bias = { x = 0.0, y = 0.0, z = 0.0 }
gyro_bias = { x = 0.0, y = 0.0, z = 0.0 }
accel_matrix = [
  [1.0, 0.0, 0.0],
  [0.0, 1.0, 0.0],
  [0.0, 0.0, 1.0],
]
gyro_matrix = [
  [1.0, 0.0, 0.0],
  [0.0, 1.0, 0.0],
  [0.0, 0.0, 1.0],
]

[filter]
passby = true
alpha = 0.9

[attitude_fusion]
passby = true
beta = 0.02

[strapdown]
passby = true
gravity = 9.80665

[zupt]
passby = true
gyro_thresh = 0.1
accel_thresh = 0.2
bias_correction_gain = 0.01

[ekf]
passby = true
enabled = false
