.recordingsPanel {
  height: 100%;
  min-height: 0;
  min-width: 0;
}

.recordingsHeader {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.recordingsCard {
  height: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;

  :global(.ant-card-body) {
    flex: 1;
    min-height: 0;
  }
}

.recordingsTable {
  height: 100%;

  :global(.ant-table-body) {
    max-height: 100%;
  }
}
