.recordingsPanel {
  height: 100%;
  min-height: 0;
}

.recordingsCard {
  height: 100%;
  display: flex;
  flex-direction: column;

  :global(.ant-card-body) {
    flex: 1;
    min-height: 0;
  }
}

.recordingsTable {
  height: 100%;

  :global(.ant-table-body) {
    max-height: 100%;
  }
}
