.imuThreeContainer {
  width: 100%;
  height: 100%;
  min-height: 320px;
  background: #303030;
}

.imuThreeSplitter {
  width: 100%;
  height: 100%;
}

.leftPanel,
.rightPanel {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.imuThreeView {
  flex: 1;
  width: 100%;
  height: 100%;
}
