.chartCard {
  height: 100%;
  min-width: 0;
  display: flex;
  flex-direction: column;

  :global(.ant-card-body) {
    flex: 1;
    min-height: 0;
  }
}

.chartTabs {
  height: 100%;
  min-width: 0;

  :global(.ant-tabs-content-holder),
  :global(.ant-tabs-content),
  :global(.ant-tabs-tabpane) {
    height: 100%;
  }
}
