:global(body) {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
}

.appLayout {
  height: 100vh;
  overflow: hidden;
}

.appContent {
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 24px;
  background: #000;
}

.siteLayoutContent {
  max-width: 1400px;
  margin: 0 auto;
}
